<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/img/logo_black.png" />
    <title>CodePUK</title>

    <%- include("util/head") -%>
</head>
<body>
    
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a href="/">
                <img src="/img/logo_black.png" alt="logo" class="logo-nav">
            </a>
        </h5>
        
        <a class="btn btn-outline-dark" href="/login">Log In</a>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">CodePUK</h1>
        <p class="lead">CodePUK es una herramienta online basada en Inteligencia Artificial para el procesamiento de imágenes y detención de caracteres de cualquier documento usando los servicios de Amazon Web Services (AWS)</p>
    </div>

    <%- include("util/footer") -%>
    <%- include("util/script") -%>
</body>
</html>